{% extends 'base.html.twig' %}

{% block title %}New Releves{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }



        h1 {
            color: #333;
        }


        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #5cb85c;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ffffff;
        }


    </style>
{% endblock %}

{% block body %}
    <h1>Ajouter un relevé</h1>

    {{ include('releves/_form.html.twig') }}

    <br>

    <a href="{{ path('app_releves_index') }}" class="btn btn-dark">back to list</a>
{% endblock %}
