{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        .form-container {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #5cb85c;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ffffff;
        }


    </style>
{% endblock %}

{% block body %}
    <h1>Ajouter un lieu</h1>

    {{ include('lieu/_form.html.twig') }}
    <br>
    <a href="{{ path('app_lieu_index') }}" class="btn btn-dark">back to list</a>
{% endblock %}
