body {
    background-color: rgba(240, 255, 255, 0.66);
}



     /* Styles directement dans la balise style */
 .title {
     color: #333;
 }
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.btn-info {
    background-color: #5bc0de;
}

.btn-warning {
    background-color: #f0ad4e;
}

.btn-success {
    background-color: #5cb85c;
}

.no-records {
    color: #888;
}
